{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load crispy_forms_tags %}

{% block extra_body %}
    onload="setUpDatePicker();"
{% endblock extra_body %}

{% if user.is_authenticated %}
    {% block extra_scripts %}
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type="text/javascript">

            function setUpDatePicker() {
                $("#id_start_date").datepicker();
                $("#id_start_date").datepicker("option", "defaultDate", "-1y");
                $("#id_start_date").datepicker("option", "dateFormat", "yy-mm-dd");
            }

            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages': ['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawChart);
            function drawChart() {


                var data3 = new google.visualization.DataTable();
                data3.addColumn('string', "{% trans 'Country' %}");
                data3.addColumn('number', "{% trans 'Total' %}");

                data3.addRows({{ country_activity|length }});

                count = 0;
                {% for ca in country_activity %}
                    data3.setValue({{ forloop.counter0 }}, 0, '{{ ca.country_name }}');
                    data3.setValue({{ forloop.counter0 }}, 1, {{ ca.hits_percent|floatformat:1 }});
                {% endfor %}

                var options3 = {
                    title: '{% trans 'Activity by Country (top 20 + others)' %}',
                    width: '50%',
                    height: 400,
                    chartArea: {left: 45, top: 40, width: "90%", height: "75%"},
                    backgroundColor: 'transparent',
                };

                var chart3 = new google.visualization.PieChart(document.getElementById('activity_by_country_chart_div'));
                chart3.draw(data3, options3);

                var dataLang = new google.visualization.DataTable();
                dataLang.addColumn('string', "{% trans 'Language' %}");
                dataLang.addColumn('number', "{% trans 'Total' %}");

                dataLang.addRows({{ languages|length }});

                count = 0;
                {% for l in languages %}
                    dataLang.setValue({{ forloop.counter0 }}, 0, '{{ l.lang }}');
                    dataLang.setValue({{ forloop.counter0 }}, 1, {{ l.hits_percent|floatformat:1 }});
                {% endfor %}

                var optionsLang = {
                    title: '{% trans 'Activity by Language (top 10 + others)' %}',
                    width: '50%',
                    height: 400,
                    chartArea: {left: 45, top: 40, width: "90%", height: "75%"},
                    backgroundColor: 'transparent',
                };

                var chartLang = new google.visualization.PieChart(document.getElementById('activity_by_language_chart_div'));
                chartLang.draw(dataLang, optionsLang);


            }
        </script>
    {% endblock extra_scripts %}
{% endif %}
{% block content %}

    <h2>{% trans 'Summary Overview' %}</h2>


    <h3>{% trans 'Activity by Country' %}</h3>
    <p>{% trans 'Total countries:' %} {{ total_countries }}</p>
    <div id="activity_by_country_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif"
                                                               alt="{% trans 'graph_generating' %}"/></div>
    <div id="activity_by_language_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif"
                                                                alt="{% trans 'graph_generating' %}"/></div>


{% endblock %}
	