{% extends "base.html" %}
{% load i18n %}
{% load display_functions %}
{% load crispy_forms_tags %}

{% block extra_body %}
    onload="setUpDatePicker();"
{% endblock extra_body %}

{% if user.is_authenticated %}
    {% block extra_scripts %}
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type="text/javascript">

            {#            function setUpDatePicker() {#}
            {#                $("#id_start_date").datepicker();#}
            {#                $("#id_start_date").datepicker("option", "defaultDate", "-1y");#}
            {#                $("#id_start_date").datepicker("option", "dateFormat", "yy-mm-dd");#}
            {#            }#}

            {% include "oppia/includes/init-date-picker-js.html" %}

            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages': ['corechart', 'bar']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawChart);
            function drawChart() {

                var data9 = new google.visualization.DataTable();
                data9.addColumn('string', "Month/Year");
                {% for sec in sections_list %}
                    data9.addColumn('number', "{{ sec }}")
                {% endfor %}

                data9.addRows({{ tracker_methods|length }});

                {% for value in tracker_methods %}
                    data9.setValue({{ forloop.counter0 }}, 0, '{{ value.0.date }}');
                    {% for val in value %}
                        data9.setValue({{ forloop.parentloop.counter0 }}, {{ forloop.counter }}, {{ val.count }});
                    {% endfor %}
                {% endfor %}

                var chart9 = new google.visualization.LineChart(document.getElementById('course_method_mix_chart_div'));
                chart9.draw(data9, {    width: '100%',
                    height: 400,
                    vAxis: {minValue: 0,
                        title: 'Activity Count'},
                    pointSize: 3,
                    chartArea: {left: 65, width: "75%", height: "75%"},
                    // backgroundColor: 'transparent',
                    legend: {position: 'right'},
                    title: '{% trans 'Method Mix used for Counselling (by ' %} {{ interval }})'
                });


            }
        </script>
    {% endblock extra_scripts %}
{% endif %}
{% block content %}

    <h2>{% trans 'Summary Overview' %}</h2>

    {% crispy form %}

    <h3>{% trans 'Method Mix Activity' %}</h3>
    <div id="course_method_mix_chart_div" class="graph"><img src="{{ STATIC_URL }}oppia/images/ajax-loader.gif"
                                                             alt="{% trans 'graph_generating' %}"/></div>
    <br/><br/>
    {% if user.is_staff %}
        <div class="export">
            {% trans 'Export to:' %}
            <a href="{% url 'oppia_method_mixes_export' %}">{% trans 'Excel' %}</a>

        </div>
    {% endif %}
{% endblock %}
	